.location__Line_info_street {
    background: url("./../../../../../access/images/location.svg") no-repeat left center;
    background-size: contain;
    padding-left: 24px;
    margin-bottom: 40px;
}