.location__line_info_addition:nth-of-type(1) {
    font-family: "Source Sans-Pro-reqular", sans-serif;
    font-size: 32px;
    letter-spacing: 13px;
}

.location__line_info_addition:last-child {
    font-family: "Source Sans-Pro-bold", sans-serif;
    font-weight: 900;
    font-size: 96px;
    line-height: 90px;
}
