.section__button-register_place_content {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    padding: 22px 53px;
    font-size: 17px;
    align-self: center;
    z-index: 1;
    border: 0;
}